div.panels-ipe-handlebar-wrapper {
  border-bottom: none;
}

.panels-ipe-editing div.panels-ipe-portlet-wrapper {
  margin-top: 1em;
  border: #e6e6e6 solid 1px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -moz-border-radius-topleft:2px;
  -moz-border-radius-topright:2px;

  -webkit-border-radius-bottomleft:8px;
  -webkit-border-radius-bottomright:8px;
  -webkit-border-radius-topleft:2px;
  -webkit-border-radius-topright:2px;
}

/* Hide empty panes when not editing them. */
.panels-ipe-empty-pane {
  display: none;
}

.panels-ipe-editing .panels-ipe-empty-pane {
  display: block;
}


.panels-ipe-editing div.panels-ipe-portlet-wrapper:hover {
  border: #FF000A solid 1px;
}

.panels-ipe-editing .panels-ipe-sort-container .ui-sortable-helper {
  background: white;
}

.panels-ipe-editing div.panel-pane div.admin-links {
  display: none !important;
}

.panels-ipe-editing .panels-ipe-sort-container .ui-sortable-placeholder {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px dotted red;
  background-color: white;
}

div.panels-ipe-handlebar-wrapper ul {
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
}

div.panels-ipe-handlebar-wrapper li {
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  float: left;
  font: 12px/170% Verdana,sans-serif !important;
}

div.panels-ipe-handlebar-wrapper li {
  border-top: none;
  border-right: none;
}

div.panels-ipe-handlebar-wrapper li.first {
  border-left: none;
}

div.panels-ipe-draghandle {
  background: #e6e6e6 url(../../../../../misc/draggable.png) no-repeat;
  background-position-x: 99%;
  background-position-y: -15%;
  cursor: move;
  height: 24px;
  border: none;
}

div.panels-ipe-draghandle:hover {
  background-position-y: 41%;
}

div.panels-ipe-placeholder {
  border: 1px dashed #aaa;
  padding: .5em;
  margin-top: .5em;
  background-color: #f6f6f6;
  color: black;
  background-color: white;
  font: 12px/170% Verdana,sans-serif !important;
  text-transform: none;
  letter-spacing: 0;
  text-align: left;
  word-spacing: 0;
}

div.panels-ipe-placeholder h3 {
  font-weight: normal;
  color: #888;
}

/* Hide editor-state-on elements initially */
.panels-ipe-on {
  display: none;
}

.panels-ipe-editing .panels-ipe-on {
    display: block;
}

/* Show editor-state-off elements initially */
.panels-ipe-off {
  display: block;
}

div.panels-ipe-handlebar-wrapper li a,
div.panels-ipe-draghandle span,
div.panels-ipe-newblock a {
  background-color: #e6e6e6;
  color: #666;
  display: block;
  padding: 0.2em 0.5em;
  font: 12px/170% Verdana,sans-serif !important;
  text-transform: none;
  letter-spacing: 0;
}

div.panels-ipe-handlebar-wrapper li a:hover {
  color:#333;
}

div.panels-ipe-newblock {
  margin-top: 10px;
}

div.panels-ipe-newblock a {
  display: inline;
  color: #666;
  padding: 10px 15px;
  border: none;
}

div.panels-ipe-newblock a:hover {
  color:#333;
}

.panels-ipe-editing .panels-ipe-portlet-content {
  margin-bottom: 10px;
  border: transparent dotted 1px;
  overflow: hidden;
  padding: 15px;
}

.panels-ipe-editing .panels-ipe-region {
  border: transparent dotted 1px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

div.panels-ipe-draghandle {
  border: none;
}

.ui-sortable-placeholder {
  margin: 1em;
  border: 1px dotted black;
  visibility: visible !important;
  height: 50px !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}

/* counteract panels_dnd.css - temporary */
div.panels-ipe-display-container .panel-pane .pane-title {
  padding: 0;
}

/** ============================================================================
 * Controller form markup
 */

div#panels-ipe-control-container {
  z-index: 100;
  position: fixed;
  margin: auto;
  bottom: 0;
  display: block;
  background: none;  
}

div.panels-ipe-startedit {
  margin-bottom: -2em;
}

div.panels-ipe-pseudobutton {
  cursor: pointer;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  color: #3A3A3A;
  cursor: pointer;
  font: normal 0.929 "Lucida Grande",Tahoma,Verdana,sans-serif;
  margin-right: 0.6em;
  padding: 14px 17px 4px 17px;
  text-align: center;
  height: 35px;
  -webkit-box-shadow: none;
}

div.panels-ipe-pseudobutton:hover {
  background: #eaeaea;
}

div.panels-ipe-pseudobutton:active, div.panels-ipe-pseudobutton:focus {
  background: #777;
  border-color: #777;
}

div.panels-ipe-control {
  height: 10px;
}

div.panels-ipe-control .form-submit {
  float: left;
}

div.panels-ipe-form-container {
  min-width: 12.5em;
  min-height: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

